<body class="body">
<h1 class="header">Welcome To Travucket</h1>
<h4 class="sub-title">~ Your personalised Travel Bucket List ~</h4>
<hr>

<div id="country-wrapper">
  <% @country.each do |country| %>

  <div class="country">
    <a href="/country/<%= country.id %>"><h1 style="background-image: url('<%= country.picture %>');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
    text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
    opacity: 0.5;
    "><%= country.name %></h1></a>





  <form class="edit-icon" action="/edit/<%=country.id%>" method="get">
    <button type="submit" value="Edit Country">
      <i class="fas fa-edit"></i>
    </button>
  </form>

  <form class="delete-icon" action="/delete-country/<%=country.id%>" method="post">
    <button type="submit" value="Remove Country">
      <i class="fas fa-trash-alt"></i>
      </button>
  </form>


  <% if (country.visited == "f") %>
    <form action="/update_without_pic/<%= true %>/<%= country.id %>" method="post">
      <input class="toggle toggle--notvisited" type="submit" value="Still to Bucket">
    </form>
  <% else %>
    <form action="/update_without_pic/<%= false %>/<%= country.id %>" method="post">
      <input class="toggle toggle--visited" type="submit" value="Bucketed!">
    </form>
  <% end %>
  <br>

  <h4>Cities:</h4>

  <% @city.each do |city| %>
    <% if city.country_id == country.id %>
    <a class="city-link" href="/cities/<%= city.id %>"><%= city.name%></a>
    <br>
    <% end %>
  <% end %>
  <a class="add-city-link" href="/add-city/<%= country.id %>">+ Add a city</a>
  <br>
  <br>
  <br>



  </div>
  <% end %>
</div>
</body>
