<body class="index">
<h1 class="header">Welcome To Travucket!</h1>
<hr>

<div id="country-wrapper">
  <% @country.each do |country| %>

  <div class="country">
    <h1 class="country-title"><a href="/country/<%= country.id %>"><%= country.name %></a></h1>

  

    <h4>Been yet? <%= country.visited_string %></h4>
    <% if (country.visited == "f") %>
    <form action="/toggle-country-visited/<%= country.id %>/<%= country.name%>/<%= country.visited = true%>" method="post">
      <input type="submit" value="Been!">
      <% else %>
      <form action="/toggle-country-visited/<%= country.id %>/<%= country.name%>/<%= country.visited = false%>" method="post">

        <input type="submit" value="Oops, not been yet!">
    </form>
    <% end %>
    <h4>Cities</h4>

  <ul>
    <% @city.each do |city| %>
    <% if city.country_id == country.id %>
    <li><a href="/cities/<%= city.id %>"><%= city.name%></a></li>
    <% end %>
    <% end %>
    <li><a href="/add-city/<%= country.id %>">Add a city</a></li>
  </ul>

  <form action="/edit/<%=country.id%>" method="get">
    <button class="edit-button" type="submit" value="Edit Country">
      <i class="fas fa-edit"></i>
    </button>
  </form>

  <form action="/delete-country/<%=country.id%>" method="post">

    <button class="delete-button" type="submit" value="Remove Country">
      <i class="fas fa-trash-alt"></i>
      </button>

  </form>
  </div>
  <% end %>
</div>
</body>
