<body class="body">
<h1 class="header">Welcome To Travucket</h1>
<h4 class="sub-title">~ Your personalised Travel Bucket List ~</h4>
<hr>

<div id="country-wrapper">
  <% @country.each do |country| %>

  <div class="country" style="order: <%= country.id %>;">
    <a href="/country/<%= country.id %>"><h1 style="background-image: url('<%= country.picture %>');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
    text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
    opacity: 0.5;
    "><%= country.name %></h1></a>

  <form class="edit-icon" action="/edit/<%=country.id%>" method="get">
    <button class="editicon" type="submit" value="Edit Country">
    </button>
  </form>

  <form class="delete-icon" action="/delete-country/<%=country.id%>" method="post">
    <button class="trashicon" type="submit" value="Remove Country">
      </button>
  </form>

  <% if (country.visited == "f") %>
    <form action="/update_without_pic/<%= true %>/<%= country.id %>" method="post">
      <input class="toggle toggle--notvisited" type="submit" value="Still to Bucket">
    </form>
  <% else %>
    <form action="/update_without_pic/<%= false %>/<%= country.id %>" method="post">
      <input class="toggle toggle--visited" type="submit" value="Bucketed!">
    </form>
  <% end %>
  <br>

  <% if (country.visited == "t") %>
  <div class="stars">
    <div class="star">
      <form action="/update-stars/1/<%=country.id%>" method="post">
        <% if (country.stars > 0) %>
        <button class="staricon staricon--full" type="submit" value="4 Star">
          <% else %>
        <button class="staricon staricon--empty" type="submit" value="1 Star">
          <% end %>
        </button>
      </form>
    </div>

    <div class="star">
      <form action="/update-stars/2/<%=country.id%>" method="post">
        <% if (country.stars > 1) %>
        <button class="staricon staricon--full" type="submit" value="4 Star">
          <% else %>
        <button class="staricon staricon--empty" type="submit" value="2 Star">
          <% end %>
        </button>
      </form>
    </div>

    <div class="star">
      <form action="/update-stars/3/<%=country.id%>" method="post">
        <% if (country.stars > 2) %>
        <button class="staricon staricon--full" type="submit" value="4 Star">
          <% else %>
        <button class="staricon staricon--empty" type="submit" value="3 Star">
          <% end %>
        </button>
      </form>
    </div>

    <div class="star">
      <form action="/update-stars/4/<%=country.id%>" method="post">
        <% if (country.stars > 3) %>
        <button class="staricon staricon--full" type="submit" value="4 Star">
          <% else %>
        <button class="staricon staricon--empty" type="submit" value="4 Star">
          <% end %>
        </button>
      </form>
    </div>
    <div class="star">
      <form action="/update-stars/5/<%=country.id%>" method="post">
        <% if (country.stars > 4) %>
        <button class="staricon staricon--full" type="submit" value="5 Star">
          <% else %>
        <button class="staricon staricon--empty" type="submit" value="5 Star">
          <% end %>
        </button>
      </form>
    </div>

  </div>
  <% end %>

  <h4>Cities:</h4>

  <% @city.each do |city| %>
    <% if city.country_id == country.id %>
    <a class="city-link" href="/country/<%= country.id %>"><%= city.name%></a>
    <br>
    <% end %>
  <% end %>
  <a class="add-city-link" href="/add-city/<%= country.id %>">+ Add a city</a>
  <br>
  <br>
  <br>

  </div>
  <% end %>
</div>
</body>
