<body class="body-forms">
<h1 class="header">Edit City</h1>
<h4 class="sub-title">~ Make changes to <%= @city.name %> ~</h4>
<hr>
<br>

<div class="form-wrapper">
  <form action="/edit-city/<%= @city.id %>" method="post">

    <input name='country_id' type='hidden' value='<%= @city.find_country.id %>'>

    <div>
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" value="<%= @city.name %>"/>
    </div>

    <div>
      <label for="visited">Have you been yet?</label>
      <input type="radio" name="visited" value="true">Yes</input>
      <input type="radio" name="visited" value="false">No</input>
      <br>
      <br>
    </div>

    <div>
      <label for="picture">Enter picture URL for <%= @city.name %> (Landscape will work best) </label>
      <br>
      <input type="text" name="picture" value="<%= @city.picture %>"/>
    </div>

    <div>
      <input type="submit" value="Apply Changes to <%= @city.name %>"/>
    </div>

</form>
