<body class="city-page">
<img class="city-page-title" src="<%= @city.picture() %>" alt="">
<h1 class="header"><%= @city.name %>, <%= @city.find_country.name() %></h1>
<hr>

<h1 class="city-page-title"></h1>
<br>

<div class="city-buttons-bar">
  <% if (@city.visited == "f") %>
    <form action="/toggle-city-visited/<%= @city.id %>/<%= @city.name%>/<%= @city.visited = true%>/<%= @city.country_id %>" method="post">
      <input type="submit" value="Not Been Yet">
    </form>
  <% else %>
    <form action="/toggle-city-visited/<%= @city.id %>/<%= @city.name%>/<%= @city.visited = false%>/<%= @city.find_country.id %>" method="post">
      <input type="submit" value="Visited!">
    </form>
  <% end %>

<form action="/edit-city/<%=@city.id%>" method="get">
  <input type="submit" value="Edit City"/>
</form>

<form action="/delete-city/<%=@city.id%>" method="post">
  <input type="submit" value="Remove City"/>
</form>

<form action="/add-city-picture/<%= @city.id %>" method="get">

  <input type="submit" value="Add Picture"/>
</form>


</div>
</body>
