<h1>Remaining Bucket List Destinations</h1>

<div id="country-wrapper">
  <% @not_visited_countries.each do |country| %>
  <div class="country">
    <h3><a href="/country/<%= country.id %>"><%= country.name %></a></h3>
    <h4>Been yet? <%= country.visited_string %></h4>
    <% if (country.visited == "f") %>
    <form action="/toggle-country-visited/<%= country.id %>/<%= country.name%>/<%= country.visited = true%>" method="post">
      <input type="submit" value="Been!">
      <% else %>
      <form action="/toggle-country-visited/<%= country.id %>/<%= country.name%>/<%= country.visited = false%>" method="post">
        <input type="submit" value="Oops, not been yet!">
    </form>
    <% end %>
    <h4>Cities</h4>
  </div>
  <ul>
    <% @city.each do |city| %>
    <% if city.country_id == country.id %>
    <li><a href="/cities/<%= city.id %>"><%= city.name%></a></li>
    <% end %>
    <% end %>
    <li><a href="/add-city/<%= country.id %>">Add a city</a></li>
  </ul>

  <form action="/edit/<%=country.id%>" method="get">
    <input type="submit" value="Edit Country"/>
  </form>

  <form action="/delete-country/<%=country.id%>" method="post">
    <input type="submit" value="Delete Country"/>
  </form>
<% end %>
</div>
