<body class="country-page">
<img class="country-page-background" src="<%= @country.picture() %>" alt="">
<h1 class="header"><%= @country.name %></h1>
<hr>

<br>

<div id="country-wrapper">
  <% @city.each do |city| %>

  <div class="country" style="order: <%= city.id %>;">
    <a class="no-click" href=""><h1 style="background-image: url('<%= city.picture %>');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
    text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
    opacity: 0.5;
    "><%= city.name %></h1></a>

    <form class="edit-icon" action="/edit-city/<%=city.id%>" method="get">
      <button class="editicon" type="submit" value="Edit City">
      </button>
    </form>

    <form class="delete-icon" action="/delete-city/<%=city.id%>" method="post">
      <button class="trashicon" type="submit" value="Delete City">
        </button>
    </form>

    <% if (city.visited == "f") %>
      <form action="/update_city_without_pic/<%= true %>/<%= city.country_id %>/<%= city.id %>" method="post">
        <input class="toggle toggle--notvisited" type="submit" value="Not Been Yet">
      </form>
    <% else %>
      <form action="/update_city_without_pic/<%= false %>/<%= city.country_id %>/<%= city.id %>" method="post">
        <input class="toggle toggle--visited" type="submit" value="Visited!">
      </form>
    <% end %>
    <br>

    <h4>Sights:</h4>
    <% @sights.each do |sight| %>
      <% if sight.city_id == city.id %>
        <a class="city-link" href=""><%= sight.name%></a>
        <form class="delete-icon-sight" action="/delete-sight/<%=sight.id%>" method="post">
          <button class="trashicon-sight" type="submit" value="Remove Country"></button>
        </form>
        <br>
      <% end %>
    <% end %>
    <a class="add-city-link" href="/add-sight/<%= city.id %>">+ Add a sight</a>
    <br>
    <br>
    <br>

    </div>
    <% end %>
  </div>

</body>
