<body class="country-page">
<img class="country-page-title" src="<%= @country.picture() %>" alt="">
<h1 class="header"><%= @country.name %></h1>
<hr>


<!-- <h1 class="country-page-title"></h1> -->
<br>

<div class="country-buttons-bar">
  <% if (@country.visited == "f") %>
    <form action="/toggle-country-visited/<%= @country.id %>/<%= @country.name%>/<%= @country.visited = true %>" method="post">
      <input type="submit" value="Not Been Yet">
    </form>
  <% else %>
    <form action="/toggle-country-visited/<%= @country.id %>/<%= @country.name%>/<%= @country.visited = false%>" method="post">
      <input type="submit" value="Visited!">
    </form>
  <% end %>

<form action="/edit/<%=@country.id%>" method="get">
  <input type="submit" value="Edit Country"/>
</form>

<form action="/delete-country/<%=@country.id%>" method="post">
  <input type="submit" value="Remove Country"/>
</form>

<form action="/add-country-picture/<%=@country.id%>" method="get">

  <input type="submit" value="Add Picture"/>
</form>
</div>

</body>
