<body class="body">
<h1 class="header">Countries Visited</h1>
<h4 class="sub-title">~Countries in the bucket!~</h4>
<hr>

<div id="country-wrapper">
  <% @visited_countries.each do |country| %>

  <div class="country">
    <h1 class="country-title"><a href="/country/<%= country.id %>"><%= country.name %></a></h1>

    <% if (country.visited == "f") %>
      <form action="/toggle-country-visited/<%= country.id %>/<%= country.name%>/<%= country.visited = true %>" method="post">
        <input type="submit" value="Not Been Yet">
      </form>
    <% else %>
      <form action="/toggle-country-visited/<%= country.id %>/<%= country.name%>/<%= country.visited = false%>" method="post">
        <input type="submit" value="Visited!">
      </form>
    <% end %>

    <h4>Cities</h4>

    <% @city.each do |city| %>
    <% if city.country_id == country.id %>
    <a class="city-link" href="/cities/<%= city.id %>"><%= city.name%></a>
    <br>
    <% end %>
    <% end %>
    <a class="add-city-link" href="/add-city/<%= country.id %>">+ Add a city</a>
    <br>
    <br>
    <br>
    <br>

  <form action="/edit/<%=country.id%>" method="get">
    <button class="edit-button" type="submit" value="Edit Country">
      <i class="fas fa-edit"></i>
    </button>
  </form>

  <form action="/delete-country/<%=country.id%>" method="post">
    <button class="delete-button" type="submit" value="Remove Country">
      <i class="fas fa-trash-alt"></i>
    </button>
  </form>

  </div>
  <% end %>
</div>
</body>
